<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @training.user %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @training.sport %>
</p>

<p>
  <strong>Date:</strong>
  <%= @training.date %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
