<p id="notice"><%= notice %></p>

<p>
  <strong>Password:</strong>
  <%= @session.password %>
</p>

<p>
  <strong>Username:</strong>
  <%= @session.username %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
