<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_link.username %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @user_link.encrypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user_link.salt %>
</p>

<p>
  <strong>Realname:</strong>
  <%= @user_link.realname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_link.email %>
</p>

<p>
  <strong>Publicvisible:</strong>
  <%= @user_link.publicvisible %>
</p>

<%= link_to 'Edit', edit_user_link_path(@user_link) %> |
<%= link_to 'Back', user_links_path %>
