

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_link.username %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @user_link.encrypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user_link.salt %>
</p>

<p>
  <strong>Realname:</strong>
  <%= @user_link.realname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_link.email %>
</p>

<p>
  <strong>Publicvisible:</strong>
  <%= @user_link.publicvisible %>
</p>

<h4>Your APIs</h4>
<ul>
  <% user_link_apis = [] %>



  <% if user_link_apis.include?('fatsecret') %>
      <%= link_to "Get FatSecret Profile", fatsecret_auth_path(@user_link, :method => 'profile.get'), :method => 'post' %>
  <% else %>
      <%= link_to 'Add FatSecret', new_user_link_api_token_path(@user_link) %>
      <% @user_link.api_tokens.each do |api| %>
          <li><b><%= api.provider.camelize %></b>( token: <%= api.auth_token %>, secret: <%= api.auth_secret %>  </li>
          <% user_link_apis << api.provider %>
      <% end %>

<% end %>
</ul>


<p>
<h3>Update your weight on FatSecret:</h3>
<%= form_tag fatsecret_auth_path(@user_link) do %>
    <%= label_tag(:goal_weight_kg, "Enter your goal weight in kg:") %>
    <%= text_field_tag(:goal_weight_kg) %><br />
    <%= label_tag(:current_height_cm, "Enter your current height in cm:") %>
    <%= text_field_tag(:current_height_cm) %><br />
    <%= label_tag(:current_weight_kg, "Enter your current weight in kg:") %>
    <%= text_field_tag(:current_weight_kg) %><br />
    <%= hidden_field_tag 'method', 'weight.update' %>
    <%= submit_tag("Update Weight") %>
<% end %>
</p>

<p>
<h3>Request Script Session Key:</h3>
<%= form_tag fatsecret_auth_path(@user_link) ,:id => 'form1' do %>
    <%= hidden_field_tag 'method', 'profile.request_script_session_key' %>
    <%= hidden_field_tag 'cookie', 'true' %>
    <%= submit_tag("Get Key") %>
<% end %>
</p>

<div id="my_container" class="fatsecret_container" ></div>


<%= link_to 'Edit', edit_user_link_path(@user_link) %> |
<%= link_to 'Back', user_links_path %>
