<%= form_for(@sport_link) do |f| %>
  <% if @sport_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sport_link.errors.count, "error") %> prohibited this sport_link from being saved:</h2>

      <ul>
      <% @sport_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
