<!DOCTYPE html>
<html>
<head>
  <title>Cybercoach</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script src="http://platform.fatsecret.com/js?key=cac271e1f5114c8298cd23ca772809fd&theme=blank"></script>
  <script>
      fatsecret.setContainer("my_container");
      fatsecret.setCanvas("home");
  </script>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <%= render "layouts/menu" %>
    <%= yield %>
  <%= render "layouts/footer" %>

</body>
</html>
